<div class="col-md-6 col-md-offset-3 centered">
	<h1>Tietoa Haamunoppa-palvelusta</h1>

	<h3>Mikä on Haamunoppa?</h3>

	<p>Haamunoppa on Aalto-yliopiston Informaatioverkostojen opiskelijoille tarkoitettu kurssien arviointiportaali. Portaalin käyttäjät voivat arvostella kursseja antamalla kursseille yleisarvosanan sekä kirjoittamalla kursseista kommentteja. Käyttäjät voivat myös luoda uusia kursseja portaaliin ja täten jakaa tietoa käymistään kursseista muille opiskelijoille.</p>

	<h3>Miksi rekisteröityä?</h3>
	<p>Rekisteröitynyt käyttäjä voi lisätä Haamunoppaan uusia kursseja sekä kommentoida niitä. Mikäli et ole vielä rekisteröitynyt, voit kuitenkin katsella kurssien tietoja ja niistä jätettyjä kommentteja. Jos haluat itse lisätä sisältöä Haamunoppaan niin rekisteröidythän tästä.</p>

	<h3>Oletko kurssin henkilökuntaa?</h3>
	<p>Haamunoppa-palvelu tarjoaa oivallisen tavan tutustua siihen, mitä mieltä opiskelijat ovat kurssistasi. Palvelusta voit lukea opiskelijoiden jättämiä arvioita ja hyödyntää niitä kurssin kehittämiseksi.</p>

	<h3>Asiaa ylläpidolle?</h3>
	<p>Mikäli löydät Haamunopasta asiattoman kommentin, vanhentuneen kurssin tai jotain muuta mistä haluaisit huomauttaa ylläpidolle, niin ilmoitathan siitä osoitteeseen <a href="mailto:haamunoppa@gmail.com">haamunoppa@gmail.com</a></p></br>
	<%= link_to 'Takaisin', courses_path %></br></br>
</div>

